.card-content {
  display: flex;
  flex-direction: center;
  justify-content: center;
}

.card-title {
  background-color: rgba(255, 255, 255, 0.062);
  padding: 30px;
  border-radius: 5px;
}

#cadastro {
  margin-top: 60px;
}

#login {
  margin-top: 200px;
}

#produtos {
  margin-top: 60px;
}

.card-title h2 {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.404);
  padding-bottom: 30px;
}

.termos p {
  color: #fff;
  max-width: 500px;
  font-size: .79em;
}

.termos a {
  color: rgb(202, 0, 0);
}

.termos a:hover {
  color: red;
}

.input-group {
  position: relative;
}

.input {
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 4px;
  font: inherit;
  color: #fff;
  background-color: transparent;
  outline: 1px solid #fff;
}

.input-label {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 10px);
  transform-origin: left;
  transition: transform .25s;
}

.input-group:focus-within label {
  transform: translate(0, -30px) scale(.8);
  color: #fff;
}

.input-group:focus-within input {
  outline-color: rgb(202, 0, 0);
}

.card-itens {
  margin-top: 30px;
}

.input-group button {
  margin-top: 50px;
  cursor: pointer;
  background-color: rgb(202, 0, 0);
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 3px;
  width: 100%;
  transition: all 0.3s ease;
}

.input-group button:hover {
  background-color: red;
}

.error-txt {
  color: #721c24;
  background: #f8d7da;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
  display: none;
}

.input-file {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.input-file label {
  font-size: .99em;
}

.input-file p {
  font-size: .79em;
}

.input-select {
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 4px;
  font: inherit;
  color: #fff;
  background-color: transparent;
  outline: 1px solid #fff;
}

option {
  background-color: black;
  outline: 1px solid #fff;
}

label {
  color: #fff;
}

p {
  color: #fff;
}